* {
  box-sizing: border-box; }

.pagina {
  width: 360px;
  margin: 0 auto;
  background-color: #7a5d6e;
  display: block;
  padding-bottom: 10px; }

body {
  margin: 0 auto;
  background-color: #a9a3a1; }

.header {
  width: 360px;
  height: 60px;
  margin: 0 auto;
  display: block;
  background-color: #37262e; }
  .header h1 {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: "roboto";
    font-weight: normal;
    padding: 15px 15px 10px 15px;
    position: relative;
    color: #fcc92f; }

.login-rut {
  width: 338px;
  margin: 0 auto;
  padding: 5px 0 10px 0; }

.login-rut__box {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #fcc92f;
  line-height: 3;
  padding-left: 20px;
  color: #fcc92f;
  background-color: #1c1216; }

.button {
  width: 345px;
  height: 46px;
  margin: 0 auto;
  background-color: #1c1216;
  margin-top: 7px;
  border-radius: 4px;
  display: block; }
  .button a {
    text-decoration: none;
    font-size: 13px;
    font-family: "roboto";
    text-align: center;
    display: block;
    padding-top: 13px;
    margin: 7px;
    color: #fcc92f; }

.container_button {
  height: 40px; }

.button_two {
  padding: 2px 10px 4px 10px;
  background-color: #1c1216;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  float: right;
  margin-top: 7px;
  margin-right: 10px; }
  .button_two a {
    font-size: 11px;
    font-family: "roboto";
    text-align: center;
    padding: 0 7px 0 7px;
    text-decoration: none;
    color: #fcc92f; }

.button_small_two {
  width: 25px;
  height: 15px;
  background: #fcc92f;
  border-radius: 4px;
  float: right;
  display: inline-block;
  margin: 10px;
  margin-right: 20px; }

#button_small_two {
  display: inline-block;
  float: right; }

.button_edit {
  width: 25px;
  height: 25px;
  background: #fcc92f;
  border-radius: 50%;
  float: right;
  margin: 10px;
  margin-right: 20px;
  position: relative;
  z-index: 99; }

.button_more {
  width: 200px;
  margin: 0 auto;
  height: 30px; }
  .button_more a {
    font-size: 11px;
    font-family: "roboto";
    text-align: center;
    text-decoration: none;
    color: #fcc92f; }

#text_button {
  display: inline-block;
  position: relative; }

.toggle_button_big {
  display: none; }
  .toggle_button_big + label {
    display: block;
    width: 280px;
    height: 40px;
    border-radius: 4px;
    background: #1c1216;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; }
    .toggle_button_big + label:before {
      display: block;
      content: "";
      width: 130px;
      height: 40px;
      border-radius: 4px;
      background: #7a5d6e;
      position: relative;
      transition: all 0.3s;
      left: 0; }
  .toggle_button_big:checked + label {
    background: #fdca2e; }
    .toggle_button_big:checked + label:before {
      left: 150px; }

.toggle_button_big {
  display: none; }
  .toggle_button_big + label {
    display: block;
    width: 280px;
    height: 40px;
    border-radius: 4px;
    background: #1c1216;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; }
    .toggle_button_big + label:before {
      display: block;
      content: "";
      width: 130px;
      height: 40px;
      border-radius: 4px;
      background: #7a5d6e;
      position: relative;
      transition: all 0.3s;
      left: 150px; }
  .toggle_button_big:checked + label {
    background: #fdca2e; }
    .toggle_button_big:checked + label:before {
      left: 0; }

.toggle_button_small {
  display: none; }
  .toggle_button_small + label {
    display: block;
    width: 50px;
    height: 15px;
    border-radius: 4px;
    background: #1c1216;
    margin-right: 10px;
    left: 295px;
    margin-top: 15px;
    margin-left: 80px; }
    .toggle_button_small + label:before {
      display: block;
      content: "";
      width: 25px;
      height: 15px;
      border-radius: 4px;
      background: #7a5d6e;
      position: relative;
      transition: all 0.3s;
      left: 25px; }
  .toggle_button_small:checked + label {
    background: #fdca2e; }
    .toggle_button_small:checked + label:before {
      left: 0; }

.toggle_box {
  display: inline-block;
  width: 140px; }

.checkbox_button_small {
  display: none; }
  .checkbox_button_small + label {
    display: block;
    width: 25px;
    height: 15px;
    border-radius: 4px;
    background: #1c1216;
    margin-right: 10px;
    left: 295px;
    margin-top: 15px;
    margin-left: 105px; }
    .checkbox_button_small + label:before {
      display: block;
      position: relative;
      left: 25px; }
  .checkbox_button_small:checked + label {
    background: #fdca2e;
    transition: all 0.3s; }
    .checkbox_button_small:checked + label:before {
      left: 0; }

#reports_list {
  padding-left: 5px; }

.user_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #5b5b5b;
  position: relative;
  z-index: 99;
  float: left; }

.username #name {
  font-size: 13px;
  font-family: "roboto";
  font-weight: normal;
  letter-spacing: 0.2px;
  margin-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  text-align: left;
  display: inline-block;
  color: #fcc92f; }

.comment_date {
  font-size: 10px;
  display: inline-block;
  font-weight: 300;
  float: right;
  margin-right: 10px;
  margin-top: 12px;
  color: #fcc92f; }

.comment_box {
  width: 275px;
  margin-right: 10px;
  border: 1px solid;
  border-radius: 4px;
  position: relative;
  float: right; }

.comment_content {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px; }

.container_report li {
  margin-bottom: 15px;
  display: block;
  position: relative;
  color: #fcc92f; }
.container_report li:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  width: 0;
  color: #fcc92f; }

.usuario_personal {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #5b5b5b;
  margin: 0 auto;
  margin-bottom: 15px; }

#nombre_personal {
  font-size: 12px;
  font-family: "roboto";
  font-weight: normal;
  letter-spacing: 0.3px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  color: #fcc92f; }

.number_box {
  width: 90px;
  height: 90px;
  margin: 0 20px 20px 20px;
  display: inline-block;
  border-radius: 50%;
  border: 6px solid #f71138; }

#numero {
  font-size: 24px;
  text-align: center;
  color: white; }

.celda {
  width: 30px;
  padding: 0; }

.table {
  width: 214px;
  position: relative;
  float: right; }

.table_text {
  font-size: 12px;
  font-family: "roboto";
  font-weight: normal;
  letter-spacing: 0.2px;
  text-align: left;
  margin: 3px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 0;
  color: #fcc92f; }

.container {
  width: 345px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 5px;
  background-color: #37262e;
  margin-top: 7px;
  border-radius: 4px;
  display: block; }
  .container .edit_title {
    margin-left: 40px; }
  .container h1 {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 14px;
    font-family: "roboto";
    font-weight: normal;
    padding: 15px 15px 40px 15px;
    position: relative;
    color: #fcc92f; }
  .container h2 {
    font-size: 13px;
    font-family: "roboto";
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.2px;
    padding-bottom: 15px;
    color: #fcc92f; }
  .container h3 {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 14px;
    font-family: "roboto light";
    color: #565656;
    padding: 15px;
    position: relative;
    color: #fcc92f; }
  .container li {
    font-size: 12px;
    font-family: "roboto";
    position: relative;
    list-style-type: none;
    padding-bottom: 19px;
    color: #fcc92f; }
  .container .form_content {
    display: none;
    background-color: #2b1d25; }
  .container .lista_form {
    display: inline-block;
    width: 200px;
    padding-left: 30px; }
  .container .names_box {
    position: relative;
    display: block; }

#title_form {
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-size: 13px;
  font-family: "roboto";
  font-weight: normal;
  padding: 20px 15px 15px 15px;
  position: relative;
  color: #fcc92f; }

#title_form_1 {
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-size: 13px;
  font-family: "roboto";
  font-weight: normal;
  padding: 20px 15px 15px 15px;
  position: relative;
  color: #fcc92f; }

.mapa {
  width: 345px;
  height: 180px;
  margin: 0 auto;
  margin-top: 7px;
  border-radius: 4px;
  display: block;
  border: 1px solid #fcc92f; }

#texto_mapa {
  display: inline-block;
  position: relative;
  color: #fcc92f; }
  #texto_mapa .lista_form_1 {
    display: inline-block;
    width: 200px;
    padding-left: 30px; }

p {
  font-size: 12px;
  font-family: "roboto";
  font-weight: normal;
  letter-spacing: 0, 7px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  color: #fcc92f; }

.perfil_persona {
  padding-bottom: 15px; }
  .perfil_persona p {
    font-size: 12px;
    font-family: "roboto";
    font-weight: normal;
    letter-spacing: 0.3px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: #fcc92f; }

/*# sourceMappingURL=main.css.map */
