// módulos contenedores

.container

	width: $ancho_contenedor
	height: 100%
	margin: 0 auto
	background-color: $background_color
	box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.8)
	padding-bottom: 5px
	margin-top: 7px
	border-radius: 4px
	display: block


	.edit_title
	
	h1

		margin: 0 auto
		display: block
		text-align: center
		font-size: $titulo_modulo_2
		font-family: $font-family
		font-weight: $font_medium
		padding: 20px 20px 25px 20px
		position: relative 
		color: $font-color

	.title-icon

		margin: 0 auto
		display: block
		text-align: center
		font-size: $titulo_modulo_2
		font-family: $font-family
		font-weight: $font_medium
		padding: 20px 55px 35px 55px
		position: relative 
		color: $font-color

	h2

		font-size: $subtitulo_modulo
		font-family: $font-family
		font-weight: $font_light
		text-align: center
		letter-spacing: 0.2px
		margin: 23px 0px 23px 0px
		color: $font-color

	.texto_vivienda

		font-size: $subtitulo_modulo
		font-family: $font-family
		font-weight: $font_light
		text-align: center
		letter-spacing: 0.2px
		margin: 0px 0px 35px 0px
		color: $font-color


	h3

		margin: 0 auto
		display: block
		text-align: center
		font-size: 14px
		font-family: $font-family
		color: #565656
		padding: 15px
		position: relative 
		color: $font-color

	a

		text-decoration: none
		
	li

		font-size: $texto_contenido
		font-family: $font-family
		position: relative 
		list-style-type: none
		margin: 17px 0 17px 0
		color: $font-color

	.users_li

		font-size: $texto_contenido
		font-family: $font-family
		position: relative 
		list-style-type: none
		margin: 5px 0 5px 0
		color: $font-color

	.form_content

		display: none
		background-color: #2b1d25

//contenedor especial para rut

.container_2

	width: $ancho_contenedor
	height: 100%
	margin: 0 auto
	padding-bottom: 8px
	padding-top: 5px
	background-color: $background_color
	box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.8)
	margin-top: 5px
	border-radius: 4px
	display: block

	h1

		margin: 0 auto
		display: block
		text-align: left
		font-size: $titulo_especial
		font-family: $font-family
		font-weight: $font_medium
		padding: 28px 12px 10px 27px
		position: relative 
		color: $font-color
	p

		font-size: $texto_contenido
		font-family: $font-family
		font-weight: $font_light
		text-align: left
		letter-spacing: 0.8px
		margin-top: 8px
		padding: 1px 34px 11px 26px
		color: $font-color


hr

	border:  1px solid #fcc92f
	height:  4px
	margin-top:  20px
	text-align:  center

hr:after 

	content: "Seguimiento de alertas"
	position:  relative
	top:  -10px
	padding:  0px 30px 0px 30px
	color:  $font-color
	font-family: $font-family
	font-weight: $font_light
	background-color: $background_color
	font-size:  $titulo_modulo_2



.container_void

	width: $ancho_contenedor
	height: 100%
	margin: 0 auto
	display: block

	.edit_title
	
	h1

		margin: 0 auto
		display: block
		text-align: center
		font-size: $titulo_modulo
		font-family: $font-family
		font-weight: $font_medium
		padding: 20px 60px 17px 60px
		position: relative 
		color: $font-color
		text-shadow: 0.2px 0.8px 1px rgba(0,0,0,.8)	

.container_search

	width: $ancho_contenedor
	height: 100%
	margin: 0 auto
	padding-bottom: 5px
	background-color: $background_color
	box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.8)
	margin-top: 8px
	border-radius: 4px
	display: block

.container_results

	width: $ancho_contenedor
	height: 503px
	margin: 0 auto
	background-color: $background_color
	box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.8)
	margin-top: 7px
	border-radius: 4px
	display: block

	.edit_title
	
	h1

		margin: 0 auto
		display: block
		text-align: center
		font-size: $titulo_modulo_2
		font-family: $font-family
		font-weight: $font_medium
		padding: 20px 20px 30px 20px
		position: relative 
		color: $font-color
	h2

		font-size: $subtitulo_modulo
		font-family: $font-family
		font-weight: $font_light
		text-align: center
		letter-spacing: 0.2px
		margin: 0px 0px 23px 0px
		color: $font-color

	p

		font-size: $texto_contenido
		font-family: $font-family
		font-weight: $font_light
		text-align: left
		letter-spacing: 0.8px
		margin-top: 8px
		padding: 1px 34px 11px 26px
		color: $font-color


	.search_message

		margin-top: 192px
		margin-bottom: 17px
		padding-top: 20px
		padding-bottom: 20px
		padding-left: 5px
		background-color: $background_color_3

	.go-button

		float: right
		display: inline-block
		margin: -78px 13px 0px 0px

		a
			text-decoration: none
	

.event_box_red

	width: $ancho_contenedor
	height: 100%
	margin: 0 auto
	background-color: $dark_red 
	box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.8)
	margin-top: 7px
	border-radius: 4px
	display: block

	h1

		margin: 0 auto
		display: block
		text-align: center
		font-size: $titulo_modulo
		font-family: $font-family
		font-weight: $font_medium
		padding: 20px 20px 25px 20px
		position: relative 
		color: $font-color

.event_box_yellow

	width: $ancho_contenedor
	height: 100%
	margin: 0 auto
	background-color: $dark_yellow 
	box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.8)
	margin-top: 7px
	border-radius: 4px
	display: block

	h1

		margin: 0 auto
		display: block
		text-align: center
		font-size: $titulo_modulo
		font-family: $font-family
		font-weight: $font_medium
		padding: 20px 20px 25px 20px
		position: relative 
		color: $font-color

.event_box_green

	width: $ancho_contenedor
	height: 100%
	margin: 0 auto
	background-color: $darkgreen_color
	box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.8)
	margin-top: 7px
	border-radius: 4px
	display: block

	h1

		margin: 0 auto
		display: block
		text-align: center
		font-size: $titulo_modulo
		font-family: $font-family
		font-weight: $font_medium
		padding: 20px 20px 25px 20px
		position: relative 
		color: $font-color

//botones contenedores reportar entorno

.markers
	
	display: block
	height: 100%
	margin-top: -19px
	margin-bottom: 35px



.marker

	//width: 135px
	//height: 130px
	//display: inline-block
	//position: relative
	//margin: 0px 5px 10px 5px
	//left: 30px
	//border-radius: 4px
	//border:  1px solid #fcc92f

	display: none

	//prendido

	+ label

		display: inline-block
		position: relative
		width: 150px
		height: 135px
		margin: 0px 5px 9px 5px
		left: 11px
		top: 20px
		border-radius: 4px
		border:  1px solid #fcc92f

		&:before
		
			display: inline-block
			content: ""

	//apagado

	&:checked

		+ label
			
			background: $dark_yellow
			transition: $transition

			&:before

				left: 0
				content: ""

.text_marker

	font-size: 16px
	font-family: $font-family
	font-weight: normal
	letter-spacing: 0.8px
	text-align: center
	margin-top: 0px
	margin-bottom: 16px
	color: $font-color