//iconos toggle button

[class^="rpicon-"]:before, [class*="rpicon-"]:before
	position: relative
	color: $font-color
	font-size: 25px

[class^="rpicon-back"]:before, [class*="rpicon-back"]:before
	position: relative
	color: $background_color
	font-size: 30px
	line-height: 1 !important

.rpicon-back
	margin: 0
	padding: 0

[class^="rpicon-home"]:before, [class*="rpicon-home"]:before
	position: relative
	color: $font-color
	font-size: 60px
	line-height: 1.3 !important

//ajuste icono home
.home-icon-container

	display: block
	text-align: center

#home
	margin-left: 43px
	position: relative
	z-index: 99

[class^="rpicon-appartment"]:before, [class*="rpicon-appartment"]:before
	position: relative
	color: $font-color
	font-size: 60px
	line-height: 1.3 !important

//ajuste icono appartment
.appartment-icon-container

	display: block
	text-align: center

#appartment
	bottom: 6px
	margin-left: 43px
	position: relative
	z-index: 99

//ajuste de icono toggle_button grande

[class^="rpicon-toggle"]:before, [class*="rpicon-toggle"]:before

	position: relative
	color: $font-color
	font-size: 25px
	text-shadow: 0.6px 0.8px 1px rgb(62, 62, 62)
	line-height: 2.1 !important
	text-align: center

//ajuste de icono toggle_button pequeño

[class^="rpicon-toggle-small"]:before, [class*="rpicon-toggle-small"]:before

	position: relative
	color: $font-color
	font-size: 11px
	text-shadow: 0.6px 0.8px 1px rgb(62, 62, 62)
	text-align: center
	line-height: 2.6 !important

[class^="rpicon-toggle-small-inverse"]:before, [class*="rpicon-toggle-small-inverse"]:before

	color: $font-color
	font-size: 12px
	line-height: 1.4 !important
	text-shadow: 0.6px 0.8px 1px rgb(62, 62, 62)
	text-align: center
	padding-left: 9px
	top: 3px

//ajuste de posición ícono "more" 
.rpicon-toggle-small-inverse
	width: 10px

[class^="rpicon-more"]:before, [class*="rpicon-more"]:before

	position: relative
	color: $font-color
	font-size: 15px
	bottom: 1px
	line-height: 2.3 !important

//ajuste de posición ícono "more" 
.rpicon-more
	text-align: center

[class^="rpicon-edit"]:before, [class*="rpicon-edit"]:before
	position: relative
	color: $font-color
	font-size: 21px
	line-height: 1.2 !important
	text-align: center
	text-decoration: none

	&:active

		color: $background_color


//ajuste de posición ícono "edit" 
.rpicon-edit
	
	margin: 7px
	text-align: center
	text-decoration: none


//ajustes de ícono "search"

.rpicon-search
	
	margin-top: 20px
	margin-left: 311px
	position: absolute
	text-decoration: none
	z-index: 99

[class^="rpicon-search"]:before, [class*="rpicon-search"]:before

	font-size: 22px

//íconos avatar de usuario (grande)

//ajustes de ícono "user-good"

.rpicon-user-good
	
	margin-top: 14px
	margin-left: 9px
	position: absolute
	text-decoration: none
	z-index: 99
	

[class^="rpicon-user-good"]:before, [class*="rpicon-user-good"]:before

	font-size: 75px
	color: $green_color

//ajustes de ícono "user-bad"

.rpicon-user-bad
	
	margin-top: 14px
	margin-left: 9px
	position: absolute
	text-decoration: none
	z-index: 99

[class^="rpicon-user-bad"]:before, [class*="rpicon-user-bad"]:before

	font-size: 75px
	color: $red_color

//íconos avatar de usuario (chico)

//ajustes de ícono "user-good-small"

.rpicon-user-good-small
	
	margin-top: 13px
	margin-left: 7px
	position: absolute
	text-decoration: none
	z-index: 99

[class^="rpicon-user-good-small"]:before, [class*="rpicon-user-good-small"]:before

	font-size: 45px

//ajustes de ícono "user-bad-small"

.rpicon-user-bad-small
	
	margin-top: 13px
	margin-left: 7px
	position: absolute
	text-decoration: none
	z-index: 99

[class^="rpicon-user-bad-small"]:before, [class*="rpicon-user-bad-small"]:before

	font-size: 45px

//iconos de indicadores

.rpicon-uv
	
	margin-top: 15px
	margin-left: 20px
	position: relative
	z-index: 99

[class^="rpicon-uv"]:before, [class*="rpicon-uv"]:before

	position: relative
	color: $font-color
	font-size: 50px

.rpicon-humedity
	margin-top: 15px
	margin-left: 20px
	position: relative
	z-index: 99

[class^="rpicon-humedity"]:before, [class*="rpicon-humedity"]:before
	position: relative
	color: $font-color
	font-size: 50px

.rpicon-temperature
	margin-top: 15px
	margin-left: 20px
	position: relative
	z-index: 99

[class^="rpicon-temperature"]:before, [class*="rpicon-temperature"]:before
	position: relative
	color: $font-color
	font-size: 50px

//iconos de evento y efectos

.rpicon-tsunami
	margin-top: 3px
	margin-left: 1px
	position: relative
	z-index: 99

[class^="rpicon-tsunami"]:before, [class*="rpicon-tsunami"]:before

	position: relative
	color: $font-color
	font-size: 46px


.rpicon-rupture-home
	bottom: 10px
	margin-left: 15px
	position: relative
	z-index: 99

[class^="rpicon-rupture-home"]:before, [class*="rpicon-rupture-home"]:before
	position: relative
	color: $font-color
	font-size: 50px

//iconos de estado de usuario

.rpicon-chronic-patient
	margin: 4px 3px
	position: absolute
	text-decoration: none
	z-index: 99

[class^="rpicon-chronic-patient"]:before, [class*="rpicon-chronic-patient"]:before
	font-size: 40px
	color: $font_color

.rpicon-caught
	margin: 3px
	position: absolute
	text-decoration: none
	z-index: 99

[class^="rpicon-caught"]:before, [class*="rpicon-caught"]:before
	font-size: 40px
	color: $font_color

.rpicon-injured
	margin: 3px
	position: absolute
	text-decoration: none
	z-index: 99

[class^="rpicon-injured"]:before, [class*="rpicon-injured"]:before
	font-size: 40px
	color: $font_color

.rpicon-dead
	margin: 3px
	position: absolute
	text-decoration: none
	z-index: 99

[class^="rpicon-dead"]:before, [class*="rpicon-dead"]:before

	font-size: 40px
	color: $font_color


.rpicon-message
	
	margin: 0
	padding: 0


[class^="rpicon-message"]:before, [class*="rpicon-message"]:before

	position: relative
	color: $background_color
	font-size: 37px
	line-height: 1 !important


.rpicon-message-inv
	
	margin-top: 15px
	margin-left: 6px
	text-decoration: none !important
	position: relative
	z-index: 99


[class^="rpicon-message-inv"]:before, [class*="rpicon-message-inv"]:before

	color: $font_color
	font-size: 37px
	line-height: 1.2 !important

.rpicon-menu
	
	margin-top: 7px
	margin-left: 6px
	position: relative
	text-decoration: none
	z-index: 99

.rpicon-menu:focus
	
	color: $on_color


[class^="rpicon-menu"]:before, [class*="rpicon-menu"]:before

	color: $background_color
	font-size: 30px
	line-height: 1.2 !important

.rpicon-down

	padding-top: 4px

[class^="rpicon-down"]:before, [class*="rpicon-down"]:before

	position: relative
	color: $font-color
	font-size: 17px
	line-height: 1 !important


.rpicon-flecha
	
	margin-top: 10px
	margin-left: 6px
	text-decoration: none !important
	position: relative
	z-index: 99


[class^="rpicon-flecha"]:before, [class*="rpicon-flecha"]:before

	color: $font_color
	font-size: 30px
	line-height: 1.2 !important


//íconos para reportar entorno


.rpicon-cut-road
	
	margin-top: -16px
	margin-left: 38px
	position: relative
	z-index: 99


[class^="rpicon-cut-road"]:before, [class*="rpicon-cut-road"]:before

	color: $font_color
	font-size: 70px
	line-height: 1.2 !important

.rpicon-cut-bridge
	
	top: 23px
	margin-top: -41px
	margin-left: 30px
	position: relative
	z-index: 99

.cut-event
	
	top: 14px
	margin-left: 5px
	position: relative
	z-index: 99



[class^="rpicon-cut-bridge"]:before, [class*="rpicon-cut-bridge"]:before

	color: $font_color
	font-size: 90px
	line-height: 1.2 !important

[class^="rpicon-cut-event"]:before, [class*="rpicon-cut-event"]:before

	color: $font_color
	font-size: 70px
	line-height: 1.2 !important


.rpicon-fire
	top: 10px
	margin-top: -16px
	margin-left: 38px
	position: relative
	z-index: 99

.fire-event
	top: 3px
	margin-left: 12px
	position: relative
	z-index: 99


[class^="rpicon-fire"]:before, [class*="rpicon-fire"]:before
	color: $font_color
	font-size: 70px
	line-height: 1.2 !important

[class^="fire-event"]:before, [class*="fire-event"]:before
	color: $font_color
	font-size: 55px
	line-height: 1 !important

.rpicon-landslide
	top: 10px
	margin-top: -16px
	margin-left: 38px
	position: relative
	z-index: 99


[class^="rpicon-landslide"]:before, [class*="rpicon-landslide"]:before
	color: $font_color
	font-size: 70px
	line-height: 1.2 !important


.rpicon-crush
	top: 35px
	margin-top: -79px
	margin-left: 12px
	position: relative
	z-index: 99


[class^="rpicon-crush"]:before, [class*="rpicon-crush"]:before
	color: $font_color
	font-size: 123px
	line-height: 1.2 !important

.rpicon-hospital
	top: 5px
	margin-top: -22px
	margin-left: 38px
	position: relative
	z-index: 99


[class^="rpicon-hospital"]:before, [class*="rpicon-hospital"]:before
	color: $font_color
	font-size: 75px
	line-height: 1.2 !important

.rpicon-refuge
	top: 10px
	margin-top: -22px
	margin-left: 38px
	position: relative
	z-index: 99


[class^="rpicon-refuge"]:before, [class*="rpicon-refuge"]:before

	color: $font_color
	font-size: 75px
	line-height: 1.2 !important


.rpicon-collection-center
	top: 10px
	margin-top: -22px
	margin-left: 38px
	position: relative
	z-index: 99


[class^="rpicon-collection-center"]:before, [class*="rpicon-collection-center"]:before
	color: $font_color
	font-size: 75px
	line-height: 1.2 !important

//iconos personas

.rpicon-kid
	top: 21px
	margin-top: -16px
	margin-left: 38px
	position: relative
	z-index: 99


[class^="rpicon-kid"]:before, [class*="rpicon-kid"]:before
	color: $font_color
	font-size: 70px
	line-height: 1.2 !important

.rpicon-adult
	
	top: 23px
	margin-top: -41px
	margin-left: 30px
	position: relative
	z-index: 99

[class^="rpicon-adult"]:before, [class*="rpicon-adult"]:before

	color: $font_color
	font-size: 84px
	line-height: 1.3 !important

.rpicon-old
	top: 10px
	margin-top: -16px
	margin-left: 38px
	position: relative
	z-index: 99

[class^="rpicon-old"]:before, [class*="rpicon-old"]:before
	color: $font_color
	font-size: 70px
	line-height: 1.2 !important

.rpicon-especial
	top: 16px
	margin-top: -16px
	margin-left: 38px
	position: relative
	z-index: 99


[class^="rpicon-especial"]:before, [class*="rpicon-especial"]:before
	color: $font_color
	font-size: 81px
	line-height: 1 !important


